@page "/"
@using MudBlazor
@attribute [Authorize]



<MudButton Variant="Variant.Filled" Color="Color.Primary">Mud Test</MudButton>
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
